# AIB to Bambora SF Cost Comparison Application

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
import sys
print (sys.version)

2.7.12 |Anaconda 4.2.0 (64-bit)| (default, Jun 29 2016, 11:07:13) [MSC v.1500 64 bit (AMD64)]

## Import the Necessary Libraries
Below are the libraries required to assemble the project.

In [2]:
import pyodbc #CONNECT VIA PYODBC IMPORT THE PYODBC LIBRARY
import pandas as pd #CONNECT TO THE PANDAS LIBRARY
import numpy as np #IMPORT NUMPY
import csv
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib.ticker import MultipleLocator
pd.options.mode.chained_assignment = None  # default='warn'
pd.options.display.float_format = '{:,.2f}'.format
#print pyodbc.dataSources()
#conn=pyodbc.connect("Driver={NetezzaSQL};SERVER=10.80.10.70;PORT=5480;DATABASE=P_FDW;UID=djohnson;PWD=Sup3rm4n",ansi=True)

## Bambora Pull

As the data is queried the transaction amounts are rounded.<br>
The transaction amounts are rounded to allow for flow data to be matched between AIB and Bambora.<br>
For example, England - Netherlands where the transaction amount is 20.00 and not 20.15 or 20.13 is much easier to match.<br>

The non-uniformity of transaction amounts that were not rounded lead to memory issues.<br>
The process was too laborious because the unqiue transaction amounts led to very large datasets have to be queried against another very large dataset.<br>
This decision allows for efficiency.

In [ ]:
#Bambora
bb=pd.read_sql(
'''
SELECT 
bb.BAMBORA_REF
,TO_CHAR(bb.SETTLEMENT_DATE, 'MM') AS MONTH
,TO_CHAR(bb.SETTLEMENT_DATE, 'DD') AS DAY
,TO_CHAR(bb.SETTLEMENT_DATE, 'YYYY') AS YEAR
,TO_CHAR(bb.SETTLEMENT_DATE,'YYYY-MM') AS PERIOD
,bb.CONTRACT_ID, bb.ISSUER_COUNTRY_NAME, bb.MERCHANT_COUNTRY_NAME,bb.TRANSACTION_TYPE,bb.CARD_SCHEME,bb.CREDIT_DEBIT,bb.CONSUMER_CORPORATE
,bb.SF_FIXED_FEE_RESULT,bb.SF_PERC_FEE_RESULT,bb.TRANSACTION_TYPE AS B_TRANSACTION_TYPE,bb.CONSUMER_CORPORATE AS C_TYPE
,bb.VOLUME AS VOLUME,ROUND(bb.TRANSACTION_AMOUNT_EUR) AS FLOW,bb.SCHEME_TOTAL_FEE_EUR AS SF,bb.SF_FIXED_FEE,bb. SF_PERC_FEE,bb.TRANSACTION_AMOUNT_EUR
,BB.INTERCHANGE_TOTAL_FEE_EUR,BB.INTERCHANGE_TOTAL_FEE_EUR/bb.TRANSACTION_AMOUNT_EUR AS IC_BPS,BB.SCHEME_TOTAL_FEE_EUR/bb.TRANSACTION_AMOUNT_EUR AS SF_BPS
FROM DATA.ACQUIRER_BAMBORA_COST bb
WHERE bb.TRANSACTION_TYPE='TRANSACTION'
AND bb.SETTLEMENT_DATE BETWEEN '11-01-2017' AND '03-17-2018'
'''
,conn)

## AIB Pull
As the data is queried the transaction amounts are rounded.<br>
The transaction amounts are rounded to allow for flow data to be matched between AIB and Bambora.<br>

The AIB is Averaged and the Flow amount is rounded

In [ ]:
#AIB
ab=pd.read_sql(
'''
SELECT 
MAX(TRANSACTION_DATE) AS TRANSACTION_DATE,
ab.CONTRACT_ID, ab.ISSUER_COUNTRY, ab.CARD_BRAND, ab.CLEARING_COUNTRY_NAME,ab.TRANSACTION_TYPE
,ROUND(ab.TRANSACTION_FLOW_EUR) AS FLOW,AVG((ABS(ab.SCHEME_FEE_EUR)) )AS SF ,

CASE WHEN ab.CARD_TYPE_GROUP LIKE '%Debit%' THEN 'Debit'
WHEN ab.CARD_TYPE_GROUP LIKE '%Credit%' THEN 'Credit'
WHEN ab.CARD_TYPE_GROUP LIKE '%Prepaid%' THEN 'Prepaid'
END AS "CREDIT_DEBIT",

CASE WHEN ab.CARD_TYPE_GROUP LIKE '%Consumer%' THEN 'Consumer'
WHEN ab.CARD_TYPE_GROUP LIKE '%Commercial%' THEN 'Commercial'
END AS "CARD_TYPE"

FROM DATA.ACQUIRER_AIB_NEWGEN_FILES ab
WHERE ab.TRANSACTION_DATE BETWEEN '11-01-2017' AND '12-31-2017'
AND ab.SCHEME_FEE_EUR!=0
AND (ab.TRANSACTION_TYPE ='Sale')
AND (ab.INTERCHANGE_REGION='Intra-region'OR ab.INTERCHANGE_REGION='Inter-region' OR ab.INTERCHANGE_REGION='Domestic')
GROUP BY  ab.CONTRACT_ID, ab.ISSUER_COUNTRY, ab.CARD_BRAND, ab.CLEARING_COUNTRY_NAME,ab.TRANSACTION_TYPE,CREDIT_DEBIT,CARD_TYPE_GROUP,TRANSACTION_FLOW_EUR
'''
,conn)

### Save the AIB Query to hard drive to Prevent Repeated Query Pulls

## AIB Import

In [30]:
ab=pd.read_csv('d:\\djohnson\\Desktop\\bb_aib_aib.csv',skiprows=28,nrows=8586413, error_bad_lines=False, delimiter=';',index_col=False)

In [36]:
ab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8586391 entries, 0 to 8586390
Data columns (total 13 columns):
TRANSACTION_DATE                                                                                              object
ISSUER_COUNTRY                                                                                                object
CARD_BRAND                                                                                                    object
CLEARING_COUNTRY_NAME                                                                                         object
TRANSACTION_TYPE                                                                                              object
TRANSACTION_FLOW_EUR                                                                                          float64
SCHEME_FEE_EUR                                                                                                float64
INTERCHANGE_EUR                                                                                               float64
INTERCHANGE_RATE_AMOUNT                                                                                       float64
INTERCHANGE_RATE_PERC                                                                                         float64
IC_BPS                                                                                                        float64
CREDIT_DEBIT                                                                                                  object
Consumer                                                                                                      object
dtypes: float64(6), object(7)
memory usage: 851.6+ MB

In [39]:
ab=ab.rename(columns={"15-FEB-18":"TRANSACTION_DATE","United Kingdom":"ISSUER_COUNTRY","MasterCard":"CARD_BRAND"
                   ,"United Kingdom.1":"CLEARING_COUNTRY_NAME","Sale":"TRANSACTION_TYPE","56":"TRANSACTION_FLOW_EUR"
                   ,".062932090909090909090909090909090909091":"SCHEME_FEE_EUR",".167447363636363636363636363636363636364":"INTERCHANGE_EUR"
                   ,"0":"INTERCHANGE_RATE_AMOUNT",".3":"INTERCHANGE_RATE_PERC",".002990131493506493506493506493506493506":"IC_BPS"
                   ,"Credit":"CREDIT_DEBIT","Consumer":"CARD_TYPE"})

In [40]:
ab

,TRANSACTION_DATE,ISSUER_COUNTRY,CARD_BRAND,CLEARING_COUNTRY_NAME,TRANSACTION_TYPE,TRANSACTION_FLOW_EUR,SCHEME_FEE_EUR,INTERCHANGE_EUR,INTERCHANGE_RATE_AMOUNT,INTERCHANGE_RATE_PERC,IC_BPS,CREDIT_DEBIT,Consumer
0,15-FEB-18,United States,Visa,Poland,Sale,13.00,0.14,0.18,0.00,1.44,0.01,Credit,Consumer ...
1,15-MAR-18,France,Visa,United Kingdom,Sale,5.00,0.02,0.01,0.00,0.20,0.00,Debit,Consumer ...
2,14-FEB-18,Philippines,MasterCard,United Kingdom,Sale,25.00,0.23,0.40,0.00,1.60,0.02,Credit,Consumer ...
3,14-FEB-18,Russian Federation,Visa,United Kingdom,Sale,2.00,0.08,0.04,0.00,1.80,0.02,Debit,Consumer ...
4,11-FEB-18,Taiwan,MasterCard,Hungary,Sale,55.00,0.43,1.01,0.00,1.85,0.02,Credit,Consumer ...
5,15-FEB-18,Korea - Republic of,MasterCard,Luxembourg,Sale,57.00,0.40,0.90,0.00,1.60,0.02,Credit,Consumer ...
6,15-FEB-18,United Kingdom,Visa,Ireland,Sale,171.00,0.04,0.34,0.00,0.20,0.00,Debit,Consumer ...
7,03-MAR-18,Finland,Visa,United Kingdom,Sale,3.00,0.02,0.01,0.00,0.20,0.00,Debit,Consumer ...
8,07-MAR-18,Luxembourg,Visa,United Kingdom,Sale,20.00,0.02,0.04,0.00,0.20,0.00,Prepaid,Consumer ...
9,15-FEB-18,Poland,Visa,Luxembourg,Sale,1.00,0.02,0.00,0.00,0.20,0.00,Debit,Consumer ...
10,13-MAR-18,United Kingdom,Visa,Netherlands,Sale,15.00,0.02,0.03,0.00,0.20,0.00,Debit,Consumer ...
11,15-FEB-18,Cyprus,Visa,Luxembourg,Sale,2.00,0.02,0.00,0.00,0.20,0.00,Prepaid,Consumer ...
12,15-FEB-18,Austria,MasterCard,Poland,Sale,43.00,0.05,0.09,0.00,0.20,0.00,Prepaid,Consumer ...
13,15-FEB-18,Ukraine,MasterCard,Luxembourg,Sale,29.00,0.16,0.43,0.00,1.49,0.01,Debit,Consumer ...
14,11-FEB-18,Korea - Republic of,MasterCard,Hungary,Sale,287.00,1.75,4.57,0.00,1.60,0.02,Credit,Consumer ...
15,14-FEB-18,Turkey,MasterCard,United Kingdom,Sale,19.00,0.12,0.33,0.00,1.73,0.02,Credit,Consumer ...
16,16-MAR-18,Spain,Visa,Luxembourg,Sale,2.00,0.02,0.00,0.00,0.20,0.00,Prepaid,Consumer ...
17,15-FEB-18,Moldova - Republic of,Visa,United Kingdom,Sale,10.00,0.12,0.15,0.00,1.60,0.02,Debit,Consumer ...
18,14-FEB-18,Costa Rica,MasterCard,United Kingdom,Sale,31.00,0.26,0.58,0.00,1.85,0.02,Credit,Consumer ...
19,14-FEB-18,New Zealand,Visa,United Kingdom,Sale,28.00,0.22,0.45,0.00,1.60,0.02,Credit,Consumer ...
20,15-MAR-18,Denmark,MasterCard,United Kingdom,Sale,5.00,0.04,0.01,0.00,0.20,0.00,Debit,Consumer ...
21,15-FEB-18,Kazakhstan,Visa,Luxembourg,Sale,25.00,0.20,0.39,0.00,1.60,0.02,Debit,Consumer ...
22,15-FEB-18,Saudi Arabia,Visa,United Kingdom,Sale,142.00,0.85,2.56,0.00,1.80,0.02,Credit,Consumer ...
23,15-FEB-18,United States,Visa,Spain,Sale,"1,410.00",7.82,25.37,0.00,1.80,0.02,Credit,Consumer ...
24,14-FEB-18,Taiwan,Visa,United Kingdom,Sale,1.00,0.08,0.01,0.00,1.97,0.01,Credit,Consumer ...
25,15-FEB-18,United States,MasterCard,United Kingdom,Sale,27.00,0.24,0.54,0.00,2.00,0.02,NaN,Commercial ...
26,16-MAR-18,United States,MasterCard,Poland,Sale,1.00,0.10,0.02,0.00,1.60,0.02,Credit,Consumer ...
27,15-FEB-18,Poland,Visa,Luxembourg,Sale,1.00,0.02,0.00,0.00,0.20,0.00,Debit,Consumer ...
28,11-FEB-18,Korea - Republic of,Visa,Hungary,Sale,52.00,0.36,0.83,0.00,1.60,0.02,Credit,Consumer ...
29,15-FEB-18,United States,MasterCard,United Kingdom,Sale,8.00,0.13,0.12,0.00,1.60,0.01,Debit,Consumer ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8586361,14-MAR-18,Italy,MasterCard,Poland,Sale,8.00,0.04,0.02,0.00,0.20,0.00,Prepaid,Consumer ...
8586362,13-MAR-18,Japan,Visa,Germany,Sale,271.00,1.54,4.81,0.00,1.80,0.02,Credit,Consumer ...
8586363,13-MAR-18,Netherlands,MasterCard,Luxembourg,Sale,7.00,0.05,0.12,0.00,1.90,0.02,NaN,Commercial ...
8586364,09-MAR-18,Philippines,MasterCard,Hungary,Sale,817.00,4.79,13.02,0.00,1.60,0.02,Credit,Consumer ...
8586365,13-MAR-18,Poland,MasterCard,Luxembourg,Sale,3.00,0.04,0.01,0.00,0.30,0.00,Credit,Consumer ...
8586366,13-MAR-18,Serbia,Visa,Luxembourg,Sale,11.00,0.13,0.17,0.00,1.60,0.02,Credit,Consumer ...
8586367,13-MAR-18,Singapore,MasterCard,Luxembourg,Sale,16.00,0.18,0.30,0.00,1.85,0.02,Debit,Consumer ...
8586368,13-MAR-18,Switzerland,MasterCard,United Kingdom,Sale,95.00,0.47,1.62,0.00,1.70,0.02,Credit,Consumer ...
8586369,13-MAR-18,Peru,Visa,Luxembourg,Sale,4.00,0.09,0.06,0.00,1.60,0.02,Debit,Consumer ...
8586370,13-MAR-18,Japan,Visa,Italy,Sale,21.00,0.18,0.33,0.00,1.60,0.02,Credit,Consumer ...
8586371,13-MAR-18,Italy,Maestro,Switzerland,Sale,79.00,0.42,0.88,0.05,1.05,0.01,Debit,Consumer ...
8586372,13-MAR-18,Singapore,Visa,United Kingdom,Sale,11.00,0.13,0.19,0.00,1.80,0.02,Debit,Consumer ...
8586373,14-MAR-18,Sweden,MasterCard,United Kingdom,Sale,396.00,0.26,1.18,0.00,0.30,0.00,Credit,Consumer ...
8586374,14-MAR-18,Canada,Visa,Luxembourg,Sale,22.00,0.19,0.35,0.00,1.60,0.02,Debit,Consumer ...
8586375,14-MAR-18,India,MasterCard,Luxembourg,Sale,4.00,0.11,0.07,0.00,1.85,0.02,Credit,Consumer ...
8586376,14-MAR-18,Turkey,Visa,Luxembourg,Sale,1.00,0.02,0.00,0.00,0.20,0.00,Debit,Consumer ...
8586377,13-MAR-18,Singapore,Visa,United Kingdom,Sale,18.00,0.17,0.32,0.00,1.80,0.02,Credit,Consumer ...
8586378,14-MAR-18,Bulgaria,MasterCard,Luxembourg,Sale,2.00,0.04,0.00,0.00,0.20,0.00,Debit,Consumer ...
8586379,14-MAR-18,Australia,Visa,Luxembourg,Sale,9.00,0.12,0.15,0.00,1.60,0.02,Debit,Consumer ...
8586380,14-MAR-18,United Kingdom,Visa,Switzerland,Sale,110.00,0.50,0.16,0.16,0.00,0.00,Debit,Consumer ...
8586381,14-MAR-18,New Zealand,MasterCard,Luxembourg,Sale,13.00,0.16,0.20,0.00,1.60,0.02,Credit,Consumer ...
8586382,14-MAR-18,United States,MasterCard,Poland,Sale,313.00,1.72,4.79,0.00,1.54,0.02,Credit,Consumer ...
8586383,14-MAR-18,Guatemala,Visa,Spain,Sale,302.00,1.72,4.79,0.00,1.60,0.02,Credit,Consumer ...
8586384,13-MAR-18,Thailand,Visa,United Kingdom,Sale,28.00,0.22,0.45,0.00,1.60,0.02,Debit,Consumer ...
8586385,14-MAR-18,Canada,Visa,United Kingdom,Sale,125.00,0.76,2.00,0.00,1.60,0.02,Credit,Consumer ...
8586386,14-MAR-18,Denmark,Visa,Italy,Sale,16.00,0.02,0.03,0.00,0.20,0.00,Debit,Consumer ...
8586387,14-MAR-18,Poland,Visa,United Kingdom,Sale,12.00,0.02,0.04,0.00,0.30,0.00,Credit,Consumer ...
8586388,14-MAR-18,Japan,Visa,Luxembourg,Sale,43.00,0.30,0.76,0.00,1.80,0.02,Credit,Consumer ...
8586389,8586390 rows selected.,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,NaN,NaN
8586390,SQL> spo end,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,NaN,NaN

## Create a Working Copy of the Bambora Data

In [189]:
bb1=bb.copy() #create working copy of the Bambora data

### Remove Bambora Whitespace

In [190]:
bb1['ISSUER_COUNTRY_NAME']=bb1['ISSUER_COUNTRY_NAME'].str.strip()
bb1['MERCHANT_COUNTRY_NAME']=bb1['MERCHANT_COUNTRY_NAME'].str.strip()

### Remove Excess Naming from SQL

In [191]:
bb1=bb1.drop(['B_TRANSACTION_TYPE','C_TYPE','VOLUME','TRANSACTION_AMOUNT_EUR','SF_FIXED_FEE_RESULT','SF_PERC_FEE_RESULT'],axis=1)

## Rename Columns to Allow for Merge

In [192]:
bb1=bb1.rename(columns={'ISSUER_COUNTRY_NAME':'ISSUER_COUNTRY','MERCHANT_COUNTRY_NAME':'CLEARING_COUNTRY_NAME','CONSUMER_CORPORATE':'CARD_TYPE','CARD_SCHEME':'CARD_BRAND'})

In [193]:
print bb1.head()

               BAMBORA_REF MONTH DAY  YEAR   PERIOD  CONTRACT_ID  \
0  74541097315024958871649    11  11  2017  2017-11     5,859.00
1  74541097315024958872282    11  11  2017  2017-11     7,793.00
2  74541097315024958871631    11  11  2017  2017-11     5,859.00
3  25336247315024958871666    11  11  2017  2017-11     5,859.00
4  74541097315024958872266    11  11  2017  2017-11     7,793.00

  ISSUER_COUNTRY CLEARING_COUNTRY_NAME TRANSACTION_TYPE  CARD_BRAND  \
0    New Zealand                 China      TRANSACTION        Visa
1    New Zealand                 China      TRANSACTION        Visa
2    New Zealand                 China      TRANSACTION        Visa
3    New Zealand                 China      TRANSACTION  Mastercard
4    New Zealand                 China      TRANSACTION        Visa

  CREDIT_DEBIT CARD_TYPE  FLOW   SF  SF_FIXED_FEE  SF_PERC_FEE
0        Debit  Consumer 20.00 0.18          0.10         0.01
1        Debit  Consumer 16.00 0.16          0.10         0.01
2       Credit  Consumer 36.00 0.28          0.10         0.01
3        Debit  Consumer 10.00 0.08          0.04         0.01
4       Credit  Consumer 16.00 0.16          0.10         0.01

## Indentify Congruent Lanes

In [194]:
bb1_contracts=bb1[['CONTRACT_ID','ISSUER_COUNTRY','CLEARING_COUNTRY_NAME','CARD_BRAND','CREDIT_DEBIT','CARD_TYPE']].drop_duplicates()

### Remove Excess Naming

In [195]:
ab=ab.drop(['TRANSACTION_TYPE','TRANSACTION_DATE'],axis=1)

In [196]:
print ab.head()

   CONTRACT_ID  ISSUER_COUNTRY  CARD_BRAND CLEARING_COUNTRY_NAME   FLOW   SF  \
0         5100         Ireland        Visa               Germany  44.00 0.02
1         4235          Canada        Visa        United Kingdom   4.00 0.09
2         1423  United Kingdom        Visa        United Kingdom 159.00 0.06
3         4235         Finland        Visa        United Kingdom   6.00 0.02
4         2443     Switzerland  MasterCard                 Italy  40.00 0.22

  CREDIT_DEBIT CARD_TYPE
0        Debit  Consumer
1       Credit  Consumer
2       Credit  Consumer
3        Debit  Consumer
4       Credit  Consumer

## Attach AIB Lanes to Active Bambora Lanes 
This is a left join that will show all active Bambora lanes on only those AIB lanes where there is congruence.

In [197]:
ab_df=pd.merge(bb1_contracts,ab,on=['CONTRACT_ID','ISSUER_COUNTRY','CLEARING_COUNTRY_NAME','CARD_BRAND','CREDIT_DEBIT','CARD_TYPE'],how='left')

In [198]:
bb1_contracts=None #clear the merge data
ab=None #clear the merge data

### Only show those lanes where there is activity for AIB and Bambora
This is done but filtering to only those results that have scheme fee information

In [199]:
ab_df=ab_df[(ab_df['SF']>0)].drop_duplicates()

### Only Show the Median aggregated by lane, contract ID, Credit/Debit and Card type, Flow

In [200]:
ab_df=ab_df.groupby(['CONTRACT_ID','ISSUER_COUNTRY','CARD_BRAND','CLEARING_COUNTRY_NAME','CREDIT_DEBIT','CARD_TYPE','FLOW'],as_index=False)['SF'].median()

In [201]:
print ab_df.head()

   CONTRACT_ID ISSUER_COUNTRY CARD_BRAND CLEARING_COUNTRY_NAME CREDIT_DEBIT  \
0     1,946.00        Albania       Visa            Luxembourg       Credit
1     1,946.00        Albania       Visa            Luxembourg       Credit
2     1,946.00        Albania       Visa            Luxembourg       Credit
3     1,946.00        Albania       Visa            Luxembourg       Credit
4     1,946.00        Albania       Visa            Luxembourg       Credit

  CARD_TYPE  FLOW   SF
0  Consumer  0.00 0.08
1  Consumer  1.00 0.08
2  Consumer  2.00 0.08
3  Consumer  3.00 0.09
4  Consumer  4.00 0.09

In [202]:
ab_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22731 entries, 0 to 22730
Data columns (total 8 columns):
CONTRACT_ID              22731 non-null float64
ISSUER_COUNTRY           22731 non-null object
CARD_BRAND               22731 non-null object
CLEARING_COUNTRY_NAME    22731 non-null object
CREDIT_DEBIT             22731 non-null object
CARD_TYPE                22731 non-null object
FLOW                     22731 non-null float64
SF                       22731 non-null float64
dtypes: float64(3), object(5)
memory usage: 1.6+ MB

## Setup the Bambora Baseline Lanes, Flows, and SFs

In [203]:
base=ab_df.drop(['FLOW','SF'],axis=1).drop_duplicates()

In [204]:
bbbase=pd.merge(base,bb1,on=['CONTRACT_ID','ISSUER_COUNTRY','CLEARING_COUNTRY_NAME','CARD_BRAND','CREDIT_DEBIT','CARD_TYPE'],how='left')

In [205]:
bbbase.head()

,CONTRACT_ID,ISSUER_COUNTRY,CARD_BRAND,CLEARING_COUNTRY_NAME,CREDIT_DEBIT,CARD_TYPE,BAMBORA_REF,MONTH,DAY,YEAR,PERIOD,TRANSACTION_TYPE,FLOW,SF,SF_FIXED_FEE,SF_PERC_FEE
0,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983622411,11,13,2017,2017-11,TRANSACTION,5.00,0.09,0.06,0.01
1,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983612529,11,13,2017,2017-11,TRANSACTION,12.00,0.13,0.06,0.01
2,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983727038,11,13,2017,2017-11,TRANSACTION,8.00,0.11,0.06,0.01
3,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984047204,11,13,2017,2017-11,TRANSACTION,1.00,0.07,0.07,0.01
4,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984169347,11,13,2017,2017-11,TRANSACTION,4.00,0.08,0.07,0.01

In [206]:
bbbase.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118177 entries, 0 to 118176
Data columns (total 16 columns):
CONTRACT_ID              118177 non-null float64
ISSUER_COUNTRY           118177 non-null object
CARD_BRAND               118177 non-null object
CLEARING_COUNTRY_NAME    118177 non-null object
CREDIT_DEBIT             118177 non-null object
CARD_TYPE                118177 non-null object
BAMBORA_REF              118177 non-null object
MONTH                    118177 non-null object
DAY                      118177 non-null object
YEAR                     118177 non-null object
PERIOD                   118177 non-null object
TRANSACTION_TYPE         118177 non-null object
FLOW                     118177 non-null float64
SF                       118177 non-null float64
SF_FIXED_FEE             118177 non-null float64
SF_PERC_FEE              118177 non-null float64
dtypes: float64(5), object(11)
memory usage: 15.3+ MB

### Link AIB and Bambora

In [207]:
ab_bb_comp=pd.merge(bbbase,ab_df,on=['CONTRACT_ID','ISSUER_COUNTRY','CARD_BRAND','CLEARING_COUNTRY_NAME','CREDIT_DEBIT','CARD_TYPE','FLOW'],how='left',suffixes=('_BB','_AVG_AB'))

In [208]:
ab_bb_comp.head()

,CONTRACT_ID,ISSUER_COUNTRY,CARD_BRAND,CLEARING_COUNTRY_NAME,CREDIT_DEBIT,CARD_TYPE,BAMBORA_REF,MONTH,DAY,YEAR,PERIOD,TRANSACTION_TYPE,FLOW,SF_BB,SF_FIXED_FEE,SF_PERC_FEE,SF_AVG_AB
0,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983622411,11,13,2017,2017-11,TRANSACTION,5.00,0.09,0.06,0.01,0.10
1,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983612529,11,13,2017,2017-11,TRANSACTION,12.00,0.13,0.06,0.01,0.14
2,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983727038,11,13,2017,2017-11,TRANSACTION,8.00,0.11,0.06,0.01,0.11
3,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984047204,11,13,2017,2017-11,TRANSACTION,1.00,0.07,0.07,0.01,0.08
4,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984169347,11,13,2017,2017-11,TRANSACTION,4.00,0.08,0.07,0.01,0.09

## Insert the Signal logic

In [209]:
ab_bb_comp['SF_DIFF_%']=(ab_bb_comp['SF_BB']-ab_bb_comp['SF_AVG_AB'])/ab_bb_comp['SF_AVG_AB']

ab_bb_comp['SIGNAL']=''
ab_bb_comp['SIGNAL'][(ab_bb_comp['SF_DIFF_%']>.05)]='Signal'

In [210]:
ab_bb_comp.head()

,CONTRACT_ID,ISSUER_COUNTRY,CARD_BRAND,CLEARING_COUNTRY_NAME,CREDIT_DEBIT,CARD_TYPE,BAMBORA_REF,MONTH,DAY,YEAR,PERIOD,TRANSACTION_TYPE,FLOW,SF_BB,SF_FIXED_FEE,SF_PERC_FEE,SF_AVG_AB,SF_DIFF_%,SIGNAL
0,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983622411,11,13,2017,2017-11,TRANSACTION,5.00,0.09,0.06,0.01,0.10,-0.07,
1,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983612529,11,13,2017,2017-11,TRANSACTION,12.00,0.13,0.06,0.01,0.14,-0.04,
2,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983727038,11,13,2017,2017-11,TRANSACTION,8.00,0.11,0.06,0.01,0.11,-0.06,
3,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984047204,11,13,2017,2017-11,TRANSACTION,1.00,0.07,0.07,0.01,0.08,-0.17,
4,"1,946.00",Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984169347,11,13,2017,2017-11,TRANSACTION,4.00,0.08,0.07,0.01,0.09,-0.10,

### Final Output

In [211]:
ab_bb_comp=ab_bb_comp[['BAMBORA_REF','TRANSACTION_TYPE','CONTRACT_ID','MONTH','DAY','YEAR','PERIOD'
                       ,'CARD_BRAND','CARD_TYPE','CREDIT_DEBIT','ISSUER_COUNTRY','CLEARING_COUNTRY_NAME'
                       ,'FLOW','SF_FIXED_FEE','SF_PERC_FEE','SF_BB','SF_AVG_AB','SF_DIFF_%','SIGNAL']]

In [212]:
ab_bb_comp.head()

,BAMBORA_REF,TRANSACTION_TYPE,CONTRACT_ID,MONTH,DAY,YEAR,PERIOD,CARD_BRAND,CARD_TYPE,CREDIT_DEBIT,ISSUER_COUNTRY,CLEARING_COUNTRY_NAME,FLOW,SF_FIXED_FEE,SF_PERC_FEE,SF_BB,SF_AVG_AB,SF_DIFF_%,SIGNAL
0,74541097317024983622411,TRANSACTION,"1,946.00",11,13,2017,2017-11,Visa,Consumer,Credit,Albania,Luxembourg,5.00,0.06,0.01,0.09,0.10,-0.07,
1,74541097317024983612529,TRANSACTION,"1,946.00",11,13,2017,2017-11,Visa,Consumer,Credit,Albania,Luxembourg,12.00,0.06,0.01,0.13,0.14,-0.04,
2,74541097317024983727038,TRANSACTION,"1,946.00",11,13,2017,2017-11,Visa,Consumer,Credit,Albania,Luxembourg,8.00,0.06,0.01,0.11,0.11,-0.06,
3,74541097317024984047204,TRANSACTION,"1,946.00",11,13,2017,2017-11,Visa,Consumer,Credit,Albania,Luxembourg,1.00,0.07,0.01,0.07,0.08,-0.17,
4,74541097317024984169347,TRANSACTION,"1,946.00",11,13,2017,2017-11,Visa,Consumer,Credit,Albania,Luxembourg,4.00,0.07,0.01,0.08,0.09,-0.10,

In [226]:
print 'total transactions'
print ab_bb_comp['BAMBORA_REF'].count()
print 'total signals'
print ab_bb_comp['BAMBORA_REF'][(ab_bb_comp['SIGNAL']=='Signal')].count()

total transactions
118177
total signals
2523

In [214]:
ab_bb_comp.to_csv('d:\\djohnson\\Desktop\\ab_bb_comp.csv')