# AIB to Bambora SF Cost Comparison Application

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
import sys
print (sys.version)

2.7.12 |Anaconda 4.2.0 (64-bit)| (default, Jun 29 2016, 11:07:13) [MSC v.1500 64 bit (AMD64)]

## Import the Necessary Libraries
Below are the libraries required to assemble the project.

In [13]:
import pandas as pd
import seaborn as sns
import numpy as np
import pyodbc
from sklearn import metrics
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_recall_curve
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, make_scorer
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import average_precision_score
%matplotlib inline
from matplotlib import pyplot as plt
print pyodbc.dataSources()

{'ECL_CODA11': 'Oracle in instantclient_11_2', 'NZSQL': 'NetezzaSQL', 'IST_CODA11': 'Oracle in instantclient_11_2', 'BO_Lookup': 'Oracle in instantclient_11_2', 'Excel Files': 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'dBASE Files': 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)', 'MS Access Database': 'Microsoft Access Driver (*.mdb, *.accdb)'}

In [14]:
import cx_Oracle

In [15]:
try:
    conn=pyodbc.connect("Driver={Oracle in instantclient_11_2};SERVER=10.71.90.0;DATABASE=ODSPEU1.ams;UID=djohnson;PWD=RhiBae01!",ansi=True)
except:
     conn=cx_Oracle.connect('djohnson','RhiBae01!','ODSPEU1.ams')

## Bambora Pull

As the data is queried the transaction amounts are rounded.<br>
The transaction amounts are rounded to allow for flow data to be matched between AIB and Bambora.<br>
For example, England - Netherlands where the transaction amount is 20.00 and not 20.15 or 20.13 is much easier to match.<br>

The non-uniformity of transaction amounts that were not rounded lead to memory issues.<br>
The process was too laborious because the unqiue transaction amounts led to very large datasets have to be queried against another very large dataset.<br>
This decision allows for efficiency.

In [10]:
#Bambora
bb=pd.read_sql(
'''
SELECT 
bb.BAMBORA_REF
,TO_CHAR(bb.SETTLEMENT_DATE, 'MM') AS MONTH
,TO_CHAR(bb.SETTLEMENT_DATE, 'DD') AS DAY
,TO_CHAR(bb.SETTLEMENT_DATE, 'YYYY') AS YEAR
,TO_CHAR(bb.SETTLEMENT_DATE,'YYYY-MM') AS PERIOD
,bb.CONTRACT_ID, bb.ISSUER_COUNTRY_NAME, bb.MERCHANT_COUNTRY_NAME,bb.TRANSACTION_TYPE,bb.CARD_SCHEME,bb.CREDIT_DEBIT,bb.CONSUMER_CORPORATE,bb.REGIONALITY
,bb.SF_FIXED_FEE_RESULT,bb.SF_PERC_FEE_RESULT,bb.TRANSACTION_TYPE AS B_TRANSACTION_TYPE,bb.CONSUMER_CORPORATE AS C_TYPE
,bb.VOLUME AS VOLUME,ROUND(bb.TRANSACTION_AMOUNT_EUR) AS FLOW,bb.SCHEME_TOTAL_FEE_EUR AS SF,bb.SF_FIXED_FEE,bb. SF_PERC_FEE,bb.TRANSACTION_AMOUNT_EUR
FROM fdwo.acquirer_bambora_cost bb
WHERE bb.TRANSACTION_TYPE='TRANSACTION'
AND bb.SETTLEMENT_DATE BETWEEN TO_DATE('11-01-2017','MM-DD-YYYY') AND TO_DATE('12-31-2017','MM-DD-YYYY')
'''
,conn)

In [11]:
bb.head()

,BAMBORA_REF,MONTH,DAY,YEAR,PERIOD,CONTRACT_ID,ISSUER_COUNTRY_NAME,MERCHANT_COUNTRY_NAME,TRANSACTION_TYPE,CARD_SCHEME,...,SF_FIXED_FEE_RESULT,SF_PERC_FEE_RESULT,B_TRANSACTION_TYPE,C_TYPE,VOLUME,FLOW,SF,SF_FIXED_FEE,SF_PERC_FEE,TRANSACTION_AMOUNT_EUR
0,74541097326025077027127,11,22,2017,2017-11,3563,Chile,Germany,TRANSACTION,Visa,...,0.061765,0.049642,TRANSACTION,Consumer,1,9,0.111408,0.061765,0.005739,8.65
1,25481047326025077027316,11,22,2017,2017-11,3563,Poland,Germany,TRANSACTION,Mastercard,...,0.015028,0.016132,TRANSACTION,Commercial,1,9,0.031160,0.015028,0.001865,8.65
2,74541097326025077034131,11,22,2017,2017-11,9346,Spain,Spain,TRANSACTION,Visa,...,0.005244,0.002880,TRANSACTION,Consumer,1,12,0.008124,0.005244,0.000240,12.00
3,25481047326025077026300,11,22,2017,2017-11,3563,Poland,Germany,TRANSACTION,Mastercard,...,0.015028,0.016132,TRANSACTION,Consumer,1,9,0.031160,0.015028,0.001865,8.65
4,74541097326025077026442,11,22,2017,2017-11,3563,Israel,Germany,TRANSACTION,Visa,...,0.061765,0.002932,TRANSACTION,Consumer,1,9,0.064698,0.061765,0.000339,8.65

## AIB Pull
As the data is queried the transaction amounts are rounded.<br>
The transaction amounts are rounded to allow for flow data to be matched between AIB and Bambora.<br>

The AIB is Averaged and the Flow amount is rounded

In [17]:
#AIB
ab=pd.read_sql(
'''
SELECT 
MAX(ab.transaction_date) AS TRANSACTION_DATE,
ab.contract_id, ab.issuer_country, ab.card_brand,ab.clearing_country_name,ab.transaction_type
,ROUND(ab.transaction_flow_eur) AS FLOW,AVG((ABS(ab.scheme_fee_eur)))AS SF,

CASE WHEN ab.card_type_group LIKE '%Debit%' THEN 'Debit'
WHEN ab.card_type_group LIKE '%Credit%' THEN 'Credit'
WHEN ab.card_type_group LIKE '%Prepaid%' THEN 'Prepaid'
END AS "CREDIT_DEBIT",

CASE WHEN ab.card_type_group LIKE '%Consumer%' THEN 'Consumer'
WHEN ab.card_type_group LIKE '%Commercial%' THEN 'Commercial'
END AS "CARD_TYPE"

FROM fdwo.acquirer_aib_newgen_files ab

WHERE ab.transaction_date BETWEEN TO_DATE('11-01-2017','MM-DD-YYYY') AND TO_DATE('12-31-2017','MM-DD-YYYY')
AND ab.scheme_fee_eur!=0
AND (ab.transaction_type ='Sale')
AND (ab.interchange_region='Intra-region' OR ab.interchange_region='Inter-region' OR ab.interchange_region='Domestic')

GROUP BY ab.contract_id, ab.issuer_country, ab.card_brand, ab.clearing_country_name,ab.transaction_type,ab.transaction_flow_eur,ab.card_type_group
'''
,conn)

### Save the AIB Query to hard drive to Prevent Repeated Query Pulls

In [18]:
ab.to_csv('d:\\djohnson\\Desktop\\ab_bb\\ab_avg_sf_by_flow.csv')

In [125]:
ab=None #clear the ab query from memory

## AIB Import

In [19]:
ab=pd.read_csv('d:\\djohnson\\Desktop\\ab_bb\\ab_avg_sf_by_flow.csv')

In [20]:
ab=ab.drop('Unnamed: 0',axis=1) #drop the unnamed index from the AIB import

## Create a Working Copy of the Bambora Data

In [21]:
bb1=bb.copy() #create working copy of the Bambora data

### Remove Bambora Whitespace

In [22]:
bb1['ISSUER_COUNTRY_NAME']=bb1['ISSUER_COUNTRY_NAME'].str.strip()
bb1['MERCHANT_COUNTRY_NAME']=bb1['MERCHANT_COUNTRY_NAME'].str.strip()

### Remove Excess Naming from SQL

In [23]:
bb1=bb1.drop(['B_TRANSACTION_TYPE','C_TYPE','VOLUME','TRANSACTION_AMOUNT_EUR','SF_FIXED_FEE_RESULT','SF_PERC_FEE_RESULT'],axis=1)

## Rename Columns to Allow for Merge

In [24]:
bb1=bb1.rename(columns={'ISSUER_COUNTRY_NAME':'ISSUER_COUNTRY','MERCHANT_COUNTRY_NAME':'CLEARING_COUNTRY_NAME','CONSUMER_CORPORATE':'CARD_TYPE','CARD_SCHEME':'CARD_BRAND'})

In [25]:
print bb1.head()

               BAMBORA_REF MONTH DAY  YEAR   PERIOD  CONTRACT_ID  \
0  74541097326025077027127    11  22  2017  2017-11         3563
1  25481047326025077027316    11  22  2017  2017-11         3563
2  74541097326025077034131    11  22  2017  2017-11         9346
3  25481047326025077026300    11  22  2017  2017-11         3563
4  74541097326025077026442    11  22  2017  2017-11         3563

  ISSUER_COUNTRY CLEARING_COUNTRY_NAME TRANSACTION_TYPE  CARD_BRAND  \
0          Chile               Germany      TRANSACTION        Visa
1         Poland               Germany      TRANSACTION  Mastercard
2          Spain                 Spain      TRANSACTION        Visa
3         Poland               Germany      TRANSACTION  Mastercard
4         Israel               Germany      TRANSACTION        Visa

  CREDIT_DEBIT   CARD_TYPE    REGIONALITY  FLOW        SF  SF_FIXED_FEE  \
0       Credit    Consumer  Interregional     9  0.111408      0.061765
1        Debit  Commercial  Intraregional     9  0.031160      0.015028
2       Credit    Consumer       Domestic    12  0.008124      0.005244
3       Credit    Consumer  Intraregional     9  0.031160      0.015028
4       Credit    Consumer  Intraregional     9  0.064698      0.061765

   SF_PERC_FEE
0     0.005739
1     0.001865
2     0.000240
3     0.001865
4     0.000339

## Indentify Congruent Lanes

In [26]:
bb1_contracts=bb1[['CONTRACT_ID','ISSUER_COUNTRY','CLEARING_COUNTRY_NAME','CARD_BRAND','CREDIT_DEBIT','CARD_TYPE']].drop_duplicates()

### Remove Excess Naming

In [27]:
ab=ab.drop(['TRANSACTION_TYPE','TRANSACTION_DATE'],axis=1)

In [28]:
print ab.head()

   CONTRACT_ID  ISSUER_COUNTRY CARD_BRAND CLEARING_COUNTRY_NAME  FLOW  \
0       5025.0           India       Visa        United Kingdom    17
1       6632.0  United Kingdom       Visa        United Kingdom    21
2       4235.0         Denmark       Visa        United Kingdom    30
3       4235.0         Austria       Visa        United Kingdom    13
4       1413.0          France       Visa                France    13

         SF CREDIT_DEBIT CARD_TYPE
0  0.164220        Debit  Consumer
1  0.022189        Debit  Consumer
2  0.022999        Debit  Consumer
3  0.022596       Credit  Consumer
4  0.021299        Debit  Consumer

## Attach AIB Lanes to Active Bambora Lanes 
This is a left join that will show all active Bambora lanes on only those AIB lanes where there is congruence.

In [29]:
ab_df=pd.merge(bb1_contracts,ab,on=['CONTRACT_ID','ISSUER_COUNTRY','CLEARING_COUNTRY_NAME','CARD_BRAND','CREDIT_DEBIT','CARD_TYPE'],how='left')

In [30]:
bb1_contracts=None #clear the merge data
ab=None #clear the merge data

### Only show those lanes where there is activity for AIB and Bambora
This is done but filtering to only those results that have scheme fee information

In [31]:
ab_df=ab_df[(ab_df['SF']>0)].drop_duplicates()

### Only Show the Median aggregated by lane, contract ID, Credit/Debit and Card type, Flow

In [32]:
ab_df=ab_df.groupby(['CONTRACT_ID','ISSUER_COUNTRY','CARD_BRAND','CLEARING_COUNTRY_NAME','CREDIT_DEBIT','CARD_TYPE','FLOW'],as_index=False)['SF'].median()

In [33]:
print ab_df.head()

   CONTRACT_ID ISSUER_COUNTRY CARD_BRAND CLEARING_COUNTRY_NAME CREDIT_DEBIT  \
0         1946        Albania       Visa            Luxembourg       Credit
1         1946        Albania       Visa            Luxembourg       Credit
2         1946        Albania       Visa            Luxembourg       Credit
3         1946        Albania       Visa            Luxembourg       Credit
4         1946        Albania       Visa            Luxembourg       Credit

  CARD_TYPE  FLOW        SF
0  Consumer   0.0  0.080739
1  Consumer   1.0  0.081216
2  Consumer   2.0  0.082232
3  Consumer   3.0  0.086737
4  Consumer   4.0  0.092232

In [34]:
ab_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23595 entries, 0 to 23594
Data columns (total 8 columns):
CONTRACT_ID              23595 non-null int64
ISSUER_COUNTRY           23595 non-null object
CARD_BRAND               23595 non-null object
CLEARING_COUNTRY_NAME    23595 non-null object
CREDIT_DEBIT             23595 non-null object
CARD_TYPE                23595 non-null object
FLOW                     23595 non-null float64
SF                       23595 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 1.6+ MB

## Setup the Bambora Baseline Lanes, Flows, and SFs

In [35]:
base=ab_df.drop(['FLOW','SF'],axis=1).drop_duplicates()

In [36]:
bbbase=pd.merge(base,bb1,on=['CONTRACT_ID','ISSUER_COUNTRY','CLEARING_COUNTRY_NAME','CARD_BRAND','CREDIT_DEBIT','CARD_TYPE'],how='left')

In [37]:
bbbase.head()

,CONTRACT_ID,ISSUER_COUNTRY,CARD_BRAND,CLEARING_COUNTRY_NAME,CREDIT_DEBIT,CARD_TYPE,BAMBORA_REF,MONTH,DAY,YEAR,PERIOD,TRANSACTION_TYPE,REGIONALITY,FLOW,SF,SF_FIXED_FEE,SF_PERC_FEE
0,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984169347,11,13,2017,2017-11,TRANSACTION,Interregional,4,0.082971,0.073239,0.00560
1,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984155205,11,13,2017,2017-11,TRANSACTION,Interregional,9,0.114472,0.073239,0.00564
2,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984034418,11,13,2017,2017-11,TRANSACTION,Interregional,22,0.186237,0.073239,0.00564
3,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983925574,11,13,2017,2017-11,TRANSACTION,Interregional,1,0.068065,0.073239,0.00564
4,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984050331,11,13,2017,2017-11,TRANSACTION,Interregional,1,0.066468,0.073239,0.00564

In [38]:
bbbase.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118185 entries, 0 to 118184
Data columns (total 17 columns):
CONTRACT_ID              118185 non-null int64
ISSUER_COUNTRY           118185 non-null object
CARD_BRAND               118185 non-null object
CLEARING_COUNTRY_NAME    118185 non-null object
CREDIT_DEBIT             118185 non-null object
CARD_TYPE                118185 non-null object
BAMBORA_REF              118185 non-null object
MONTH                    118185 non-null object
DAY                      118185 non-null object
YEAR                     118185 non-null object
PERIOD                   118185 non-null object
TRANSACTION_TYPE         118185 non-null object
REGIONALITY              118185 non-null object
FLOW                     118185 non-null int64
SF                       118185 non-null float64
SF_FIXED_FEE             118185 non-null float64
SF_PERC_FEE              118185 non-null float64
dtypes: float64(3), int64(2), object(12)
memory usage: 16.2+ MB

### Link AIB and Bambora

In [39]:
ab_bb_comp=pd.merge(bbbase,ab_df,on=['CONTRACT_ID','ISSUER_COUNTRY','CARD_BRAND','CLEARING_COUNTRY_NAME','CREDIT_DEBIT','CARD_TYPE','FLOW'],how='left',suffixes=('_BB','_AVG_AB'))

In [40]:
ab_bb_comp.head()

,CONTRACT_ID,ISSUER_COUNTRY,CARD_BRAND,CLEARING_COUNTRY_NAME,CREDIT_DEBIT,CARD_TYPE,BAMBORA_REF,MONTH,DAY,YEAR,PERIOD,TRANSACTION_TYPE,REGIONALITY,FLOW,SF_BB,SF_FIXED_FEE,SF_PERC_FEE,SF_AVG_AB
0,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984169347,11,13,2017,2017-11,TRANSACTION,Interregional,4,0.082971,0.073239,0.00560,0.092232
1,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984155205,11,13,2017,2017-11,TRANSACTION,Interregional,9,0.114472,0.073239,0.00564,0.120022
2,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984034418,11,13,2017,2017-11,TRANSACTION,Interregional,22,0.186237,0.073239,0.00564,0.191462
3,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983925574,11,13,2017,2017-11,TRANSACTION,Interregional,1,0.068065,0.073239,0.00564,0.081216
4,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984050331,11,13,2017,2017-11,TRANSACTION,Interregional,1,0.066468,0.073239,0.00564,0.081216

## Insert the Signal logic

In [41]:
ab_bb_comp['SF_DIFF_%']=(ab_bb_comp['SF_BB']-ab_bb_comp['SF_AVG_AB'])/ab_bb_comp['SF_AVG_AB']

ab_bb_comp['SIGNAL']=''
ab_bb_comp['SIGNAL'][(ab_bb_comp['SF_DIFF_%']>.05)]='Signal'

C:\Users\djohnson\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [42]:
ab_bb_comp.head()

,CONTRACT_ID,ISSUER_COUNTRY,CARD_BRAND,CLEARING_COUNTRY_NAME,CREDIT_DEBIT,CARD_TYPE,BAMBORA_REF,MONTH,DAY,YEAR,PERIOD,TRANSACTION_TYPE,REGIONALITY,FLOW,SF_BB,SF_FIXED_FEE,SF_PERC_FEE,SF_AVG_AB,SF_DIFF_%,SIGNAL
0,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984169347,11,13,2017,2017-11,TRANSACTION,Interregional,4,0.082971,0.073239,0.00560,0.092232,-0.100407,
1,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984155205,11,13,2017,2017-11,TRANSACTION,Interregional,9,0.114472,0.073239,0.00564,0.120022,-0.046238,
2,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984034418,11,13,2017,2017-11,TRANSACTION,Interregional,22,0.186237,0.073239,0.00564,0.191462,-0.027293,
3,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024983925574,11,13,2017,2017-11,TRANSACTION,Interregional,1,0.068065,0.073239,0.00564,0.081216,-0.161923,
4,1946,Albania,Visa,Luxembourg,Credit,Consumer,74541097317024984050331,11,13,2017,2017-11,TRANSACTION,Interregional,1,0.066468,0.073239,0.00564,0.081216,-0.181584,

### Final Output

In [43]:
ab_bb_comp=ab_bb_comp[['BAMBORA_REF','TRANSACTION_TYPE','REGIONALITY','CONTRACT_ID','MONTH','DAY','YEAR','PERIOD'
                       ,'CARD_BRAND','CARD_TYPE','CREDIT_DEBIT','ISSUER_COUNTRY','CLEARING_COUNTRY_NAME'
                       ,'FLOW','SF_FIXED_FEE','SF_PERC_FEE','SF_BB','SF_AVG_AB','SF_DIFF_%','SIGNAL']]

In [44]:
ab_bb_comp.head()

,BAMBORA_REF,TRANSACTION_TYPE,REGIONALITY,CONTRACT_ID,MONTH,DAY,YEAR,PERIOD,CARD_BRAND,CARD_TYPE,CREDIT_DEBIT,ISSUER_COUNTRY,CLEARING_COUNTRY_NAME,FLOW,SF_FIXED_FEE,SF_PERC_FEE,SF_BB,SF_AVG_AB,SF_DIFF_%,SIGNAL
0,74541097317024984169347,TRANSACTION,Interregional,1946,11,13,2017,2017-11,Visa,Consumer,Credit,Albania,Luxembourg,4,0.073239,0.00560,0.082971,0.092232,-0.100407,
1,74541097317024984155205,TRANSACTION,Interregional,1946,11,13,2017,2017-11,Visa,Consumer,Credit,Albania,Luxembourg,9,0.073239,0.00564,0.114472,0.120022,-0.046238,
2,74541097317024984034418,TRANSACTION,Interregional,1946,11,13,2017,2017-11,Visa,Consumer,Credit,Albania,Luxembourg,22,0.073239,0.00564,0.186237,0.191462,-0.027293,
3,74541097317024983925574,TRANSACTION,Interregional,1946,11,13,2017,2017-11,Visa,Consumer,Credit,Albania,Luxembourg,1,0.073239,0.00564,0.068065,0.081216,-0.161923,
4,74541097317024984050331,TRANSACTION,Interregional,1946,11,13,2017,2017-11,Visa,Consumer,Credit,Albania,Luxembourg,1,0.073239,0.00564,0.066468,0.081216,-0.181584,

In [45]:
print 'total transactions'
print ab_bb_comp['BAMBORA_REF'].count()
print 'total signals'
print ab_bb_comp['BAMBORA_REF'][(ab_bb_comp['SIGNAL']=='Signal')].count()

total transactions
118185
total signals
2524

In [46]:
ab_bb_comp.to_csv('d:\\djohnson\\Desktop\\ab_bb_comp.csv')