In [3]:
import pandas as pd
from IPython.display import clear_output

In [4]:
columns=['desc','bin','ic_fixed','ic_perc','count',]
df=pd.read_csv('d:\\djohnson\\Desktop\\BIN_Classification.txt',sep=';',skiprows=18,encoding='ISO-8859-1',error_bad_lines=False,low_memory=False,names=columns)

In [5]:
df1=df.copy()

In [6]:
df1=df1[['bin']].drop_duplicates().reset_index(drop=True)

In [7]:
df1.head()

      bin
0  551128
1  540997
2  520760
3  546133
4  446540

In [8]:
df['desc']=df['desc'].str.strip()
df['bin']=df['bin'].str.strip()
df['ic_fixed']=df['ic_fixed'].str.strip()
df['ic_perc']=df['ic_perc'].str.strip()
#df1['desc']=df1['desc'].str.strip()
df1['bin']=df1['bin'].str.strip()
#df1['ic_fixed']=df1['ic_fixed'].str.strip()
#df1['ic_perc']=df1['ic_perc'].str.strip()

In [9]:
bin_num=[]
dcrp=[]
ic_f=[]
ic_p=[]
prob=[]
freq=[]

In [ ]:
#for x in range (0,len(df1['bin'])):
for x in range (0,len(df1)):
    test=df[(df['bin']==df1.loc[x,'bin'])].reset_index(drop=True).copy()
    test['possible_outcomes']=test['count'].sum()
    test['favorable_outcomes']=test['count']/test['possible_outcomes']
    
    test['bin']=test[['bin']][(test['favorable_outcomes']==test['favorable_outcomes'].max(axis=0))].reset_index(drop=True)
    bin_num.append(test.loc[0,'bin'])
    
    test['dcrp']=test[['desc']][(test['favorable_outcomes']==test['favorable_outcomes'].max(axis=0))].reset_index(drop=True)
    dcrp.append(test.loc[0,'dcrp'])    
    
    test['ic_f']=test[['ic_fixed']][(test['favorable_outcomes']==test['favorable_outcomes'].max(axis=0))].reset_index(drop=True)
    ic_f.append(test.loc[0,'ic_f'])    
    
    test['ic_p']=test[['ic_perc']][(test['favorable_outcomes']==test['favorable_outcomes'].max(axis=0))].reset_index(drop=True)
    ic_p.append(test.loc[0,'ic_p'])  

    test['prob']=test[['favorable_outcomes']][(test['favorable_outcomes']==test['favorable_outcomes'].max(axis=0))].reset_index(drop=True)
    prob.append(test.loc[0,'prob'])
    
    test['possible_outcomes']=test[['possible_outcomes']][(test['possible_outcomes']==test['possible_outcomes'].max(axis=0))].reset_index(drop=True)
    freq.append(test.loc[0,'possible_outcomes'])
    
#########################################################################
    clear_output()
    print(x/len(df1))

In [12]:
#print (bin_num)
#print (dcrp)
#print (ic_f)
#print (ic_p)
#print (prob)

In [45]:
#create new df 
df2 = pd.DataFrame(bin_num)
df2=df2.rename(columns={0:'bin_num'})
df3 = pd.DataFrame(dcrp)
df3=df3.rename(columns={0:'ic_desc'})
df4 = pd.DataFrame(ic_f)
df4=df4.rename(columns={0:'ic_fixed'})
df5 = pd.DataFrame(ic_p)
df5=df5.rename(columns={0:'ic_perc'})
df6 = pd.DataFrame(freq)
df6=df6.rename(columns={0:'bin_frequency'})
df7 = pd.DataFrame(prob)*100
df7=df7.rename(columns={0:'max_theoretical_prob'})

df_master=df2.join(df3).join(df5).join(df4).join(df6).join(df7)
df_master['consumer_commercial']=''

In [46]:
df_master.head()

,bin_num,ic_desc,ic_perc,ic_fixed,max_theoretical_prob,consumer_commercial
0,551128,MC Consumer Merit 1 Debit,.016,.15,75.090645,
1,540997,MC Regulated Debit Plus Fraud Adjustment,.0005,.22,100.000000,
2,520760,MC Consumer Merit 1 Debit,.016,.15,85.297845,
3,546133,MC Consumer Merit 1 Debit,.016,.15,85.704324,
4,446540,VI Consumer CPS Rewards 2,.0195,.1,81.362689,

In [47]:
for x in range(0,len(df_master['ic_desc'])):
    if "Commercial" in df_master.loc[x,'ic_desc']:
        df_master.loc["consumer_commercial"]="Commercial"
    else:
        df_master["consumer_commercial"]="Consumer"

In [22]:
df_master.head()

NameError: name 'df_master' is not defined

In [18]:
    test=df[(df['bin']=='443603')].reset_index(drop=True).copy()
    test['possible_outcomes']=test['count'].sum()
    test['favorable_outcomes']=test['count']/test['possible_outcomes']
    test

,desc,bin,ic_fixed,ic_perc,count,possible_outcomes,favorable_outcomes
0,VI Commercial Business Tier 1 - Card Not Present,443603,.1,.0225,1071,3241,0.330454
1,VI Commercial Business Tier 4 - Electronic,443603,.2,.0295,4,3241,0.001234
2,VI Commercial Business Tier 3 - Electronic,443603,.2,.0285,3,3241,0.000926
3,VI Commercial Business Tier 4 - Standard,443603,.25,.0295,2,3241,0.000617
4,VI Commercial Business Tier 2 - Electronic,443603,.15,.0275,10,3241,0.003085
5,VI Commercial Business Tier 3 - Standard,443603,.2,.0295,5,3241,0.001543
6,VI Commercial Business Tier 2 - B2B,443603,.1,.0225,25,3241,0.007714
7,VI Commercial Business Tier 3 - B2B,443603,.1,.024,9,3241,0.002777
8,VI Commercial Business Tier 1 - Standard,443603,.2,.0295,6,3241,0.001851
9,VI Commercial Business Tier 3 - Card Not Present,443603,.2,.026,647,3241,0.199630
10,VI Commercial Business Tier 4 - B2B,443603,.1,.025,91,3241,0.028078
11,VI Commercial Business Tier 1 - Electronic,443603,.1,.024,2,3241,0.000617
12,VI Commercial Business Tier 2 - Standard,443603,.2,.0295,8,3241,0.002468
13,VI Commercial Business Tier 2 - Card Not Present,443603,.15,.0245,769,3241,0.237272
14,VI Commercial Business Tier 1 - B2B,443603,.1,.021,28,3241,0.008639
15,VI Commercial Business Tier 4 - Card Not Present,443603,.2,.027,561,3241,0.173095

In [49]:
df_master.to_csv('d:\\djohnson\\Desktop\\us_bin_Classification_table.csv')